html, body {
    margin: 0;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.graph {
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}

.monaco-editor {
}

.ide {
    position: fixed;
    bottom: 0;
    border: 1px solid gray;
    box-shadow: 0 -5px 10px rgb(0 0 0 / 15%);
    display: flex;
    width: 100vw;
    max-height: 100vh;
    height: 100%;
    z-index: 20;
    transition: height 150ms;
    background-color: white;
}

#popup-root {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: none;
    padding: 0;
    z-index: 10;
}

#popup {
    position: fixed;
    top: 60px;
    /*left: calc(100vw - 300px);*/
    right: 0;
    width: auto;
    max-width: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 6px gray;
    padding: 0;
    z-index: 10;
    background-color: #ffffff;
    overflow: hidden;
    transition: height 100ms, width 100ms;
    height: content-box;
}

#popup-body {
    padding: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    /*width: calc(100% + 20px);*/
}

.popup-row {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    box-sizing: border-box;
    /*width: inherit;*/
    /*height: inherit;*/
}

.popup-column {
    display: flex;
    flex: 1 1 100%;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    /*width: inherit;*/
    /*height: inherit;*/
}

.popup-label {
    display: flex;
    align-items: center;
    gap: 8px;
    /*flex-grow: 1;*/
    /*flex-shrink: 0;*/
    flex: 1 0 100%;
    width: inherit;
    height: inherit;
}

.popup-input {
    font-size: 1rem;
    padding: 2px 4px;
    margin: 0;
    flex: 0 1 100%;
    width: inherit;
    height: inherit;
}

.popup-button {
    font-size: 1rem;
    padding: 2px 6px;
    width: inherit;
    height: inherit;
}
